/venv/
.venv/
.github/*
!.github/workflows/
!.github/workflows/**
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
.env
.coverage
.DS_Store
__pycache__/
*.pyc
**.sqlite
**.sqlite-shm
**.sqlite-wal
**.sql
!migrations/
!migrations/*.sql
*.egg-info/
*.diff
**.pdf
build/
dist/
instance/
tests/.pytest_cache/

htmlcov/
mock_reports/
tmp/
docs/_build/
docs/_static/

!docs/source/
!docs/source/**
!docs/Doxyfile
docs/_build/
docs/build/
assets/templates/
arxib/

.DS_Store

